table.table-bordered{
    border:3px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    border:3px solid black;

}
table.table-bordered > tbody > tr > td{
    border:3px solid black;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;

}

tr {
   line-height: 10px;
   min-height: 100px;
   min-width:100px;
   height: 100px;

}

td {
  line-width: 10px;
  min-width:10px;
  min-height: 100px;
  width: 10px;
  text-align: center;


}

.table tbody td, .table tbody td tr {
  min-width: 100px;
  table-layout: fixed;
}
